<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/474x/5e/b6/84/5eb6843db6aaa41dde2e9fc66a8e9920.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">CSE</h5>
            <p class="card-text">HOD: VIRAT KOHLI</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ECE</h5>
            <p class="card-text">HOD: MS DHONI</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">EEE</h5>
            <p class="card-text">HOD: SACHIN</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">IT</h5>
            <p class="card-text">HOD: ASHWIN</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</body>
</html>