<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div id="nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" style="background-color: aliceblue; color:black; padding: 0.5%;"><b>St.
                    Rogers School</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/department">Department</a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/teacher-login">Faculty login</a>
                            <a class="dropdown-item" href="/student-login">Student login</a>
                            <a class="dropdown-item" href="/parent-login">Parent login</a>
                            <a class="dropdown-item" href="/admin-login">Admin login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="loginbox">
                <div class="row">
                    <div class="login">
                        <h3>LOGIN:</h3>
                        <form action="/faculty-view" method="POST">
                            <div class="form-group">
                                <label>TEACHER ID: &nbsp;</label><input type="text" class="form-control-sm"
                                    placeholder="teacher id" name="teacherid" id="teacherid" required><br></div>
                            <input type="submit" class="btn btn-success" value="login">
                        </form>
                        <%= msg %>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>
<style>
    .loginbox {
        max-width: 1000px;
        margin: 190px 400px;
    }

    .login {
        background-color: white;
        border-radius: 2px;
        padding: 10px 10px 10px 10px;
        border: solid;
        border-width: 3px;
        border-color: black;
        background-color: antiquewhite;
    }

    body {
        background-color: darkgray;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 23px;
    }

    #slide {
        background-color: #343a40;
    }

    input[type="radio"]:checked+label {
        font-weight: bold;
    }

    label {
        display: inline-block;
        width: 7em;
    }
</style>