<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div id="nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" style="background-color: aliceblue; color:black; padding: 0.5%;"><b>St.
                    Rogers School</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/department">Department</a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/teacher-login">Faculty login</a>
                            <a class="dropdown-item" href="/student-login">Student login</a>
                            <a class="dropdown-item" href="/parent-login">Parent login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="loginbox">
                <div class="row">
                    <div class="col-md-6 register">
                        <h3>SIGN UP:</h3>
                        <form action="/parentPost" method="POST">
                            <div class="form-group">
                                <label>NAME:&nbsp;</label><input type="text" class="form-control-sm" placeholder="name"
                                    name="name" id="name" required><br></div>
                            <div class="form-group"><label>STUDENT ID: &nbsp;</label><input type="text"
                                    class="form-control-sm" placeholder="student id" name="studentid" id="studentid"
                                    required><br></div>
                            <div class="form-group"><label>PASSWORD: &nbsp;</label><input type="password"
                                    class="form-control-sm" placeholder="password" name="password" id="password"
                                    required><br>
                            </div>
                            <div class="form-group"><label>DOB: &nbsp;</label><input type="date" class="form-control-sm"
                                    placeholder="dob" name="dob" id="dob" required><br></div>
                            <div class="form-group"><label>Contact: &nbsp;</label><input type="number"
                                    class="form-control-sm" placeholder="contact" name="contact" id="contact" required><br>
                            </div>
                            <p>RELATION: </p>
                            <div> <input type="radio" name="relation" id="father" value="father" required>
                                <label><b>FATHER</b></label>
                                <input type="radio" name="relation" id="mother" value="mother"> <label><b>MOTHER</b></label>
                                <input type="radio" name="relation" id="guardian" value="guardian" required>
                                <label><b>GUARDIAN</b></label>
                            </div>
                            <input type="submit" class="btn btn-success button" name="upload" value="signup">
                        </form>
                        <%= msg1 %>
                    </div>
                    <div class="col-md-6 login">
                        <h3>LOGIN:</h3>
                        <form action="/parentProfile" method="POST">
                            <div class="form-group">
                                <label>STUDENT ID: &nbsp;</label><input type="text" class="form-control-sm"
                                    placeholder="student id" name="studentid" id="studentid" required><br>
                                <label>NAME: &nbsp;</label><input type="text" class="form-control-sm" placeholder="name" name="name"
                                        id="name" required><br>
                                <label>PASSWORD: &nbsp;</label><input type="password" class="form-control-sm"
                                    placeholder="password" name="password" id="password" required><br></div>
                            <br><input type="submit" class="btn btn-success" value="login">
                            <%= msg2 %>
                        </form>
                        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                            crossorigin="anonymous"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                            crossorigin="anonymous"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                            crossorigin="anonymous"></script>
</body>

</html>
<style>
    .loginbox {
        max-width: 1000px;
        margin: 70px auto;
    }

    .register {
        background-color: whitesmoke;
        border-radius: 2px;
        padding: 5px 5px 5px 5px;
    }

    .login {
        background-color: white;
        border-radius: 2px;
        padding: 5px 5px 5px 5px;
    }

    body {
        background-color: darkgray;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 23px;
    }

    #slide {
        background-color: #343a40;
    }

    input[type="radio"]:checked+label {
        font-weight: bold;
    }
    label {display: inline-block; width:7em;}
</style>